@import url('https://fonts.googleapis.com/css2?family=Raleway,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}